/* https://codeberg.org/akida/mathyml/src/commit/62e0fb85be5989b261ce6e09c1433f036bccc9f5/src/mathyml.css */
.mathyml-block-center {
    text-align: center;
}

.mathyml-inline-span {
    display: inline-block;
}

.mathyml-align-right {
    text-align: right;
    padding-left: 0em;
    padding-right: 0em;
}

.mathyml-align-left {
    text-align: left;
    padding-left: 0em;
    padding-right: 0em;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .mathyml-align-right {
        text-align: -webkit-right;
        padding-left: 0em;
        padding-right: 0em;
    }

    .mathyml-align-left {
        text-align: -webkit-left;
        padding-left: 0em;
        padding-right: 0em;
    }
}
